{% extends "cake_me.html" %}


{% block title %} <title>CakeMe Shop | Love made edible</title> {% endblock %}

<!-- main -->
{% block content %}
<!-- main -->
  <!-- main -->
  <main class="p-10 mx-auto mt-10 space-y-4 min-w-7xl">
  
    <!-- small heading showing drink categories text -->
    <h2 class="text-3xl font-bold text-center text-cake-me-dark">
      Cake Categories {{user.username}} | {{user.email}}
    </h2>
    <!-- categories -->
    <div class="flex items-center justify-center">
      <div class="flex flex-row p-2 space-x-2 rounded-full grid-col-5 bg-cake-me-dark">
        <!-- Sponge -->
        <a onclick="goToHome()"
          class="inline-flex justify-center px-5 py-2 text-sm font-semibold uppercase transition-colors duration-300 rounded-full bg-cake-me-light text-cake-me-dark hover:cursor-pointer">
          <!-- icon -->
          <svg class="w-6 h-6 fill-current" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
            stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m22 4.75c0-.206-.163-.75-.75-.75-.159 0-.305.071-.45.15-1.772.966-3.4 1.85-3.4 1.85v11.996s1.913 1.054 3.399 1.854c.146.079.292.15.451.15.583 0 .75-.533.75-.75zm-20 0c0-.206.163-.75.75-.75.159 0 .305.071.45.15 1.772.966 3.4 1.85 3.4 1.85v11.996s-1.913 1.054-3.399 1.854c-.146.079-.292.15-.451.15-.583 0-.75-.533-.75-.75zm14 2.25c0-.552-.448-1-1-1h-6c-.552 0-1 .448-1 1v10c0 .552.448 1 1 1h6c.552 0 1-.448 1-1z"
              fill-rule="nonzero" />
          </svg>
  
          <!-- text -->
          <span class="ml-2 ">Sponge</span>
        </a>
        <!-- end -->
  
  
  
        <!-- Butter -->
        <a onclick="goToHome()"
          class="inline-flex items-center justify-center px-5 py-2 text-sm font-semibold uppercase transition-colors duration-300 rounded-full hover:bg-white hover:text-cake-me-dark text-cake-me-light hover:cursor-pointer">
          <!-- icon -->
          <svg class="w-6 h-6 fill-current" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
            stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m22 4.75c0-.206-.163-.75-.75-.75-.159 0-.305.071-.45.15-1.772.966-3.4 1.85-3.4 1.85v11.996s1.913 1.054 3.399 1.854c.146.079.292.15.451.15.583 0 .75-.533.75-.75zm-20 0c0-.206.163-.75.75-.75.159 0 .305.071.45.15 1.772.966 3.4 1.85 3.4 1.85v11.996s-1.913 1.054-3.399 1.854c-.146.079-.292.15-.451.15-.583 0-.75-.533-.75-.75zm14 2.25c0-.552-.448-1-1-1h-6c-.552 0-1 .448-1 1v10c0 .552.448 1 1 1h6c.552 0 1-.448 1-1z"
              fill-rule="nonzero" />
          </svg>
  
          <!-- text -->
          <h2 class="ml-2 ">Butter</h2>
        </a>
        <!-- end -->
  
        <!-- Red-Velvet -->
        <a onclick="goToHome()"
          class="inline-flex items-center justify-center px-5 py-2 text-sm font-semibold uppercase transition-colors duration-300 rounded-full hover:bg-white hover:text-cake-me-dark text-cake-me-light hover:cursor-pointer">
          <!-- icon -->
          <svg class="w-6 h-6 fill-current" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
            stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m22 4.75c0-.206-.163-.75-.75-.75-.159 0-.305.071-.45.15-1.772.966-3.4 1.85-3.4 1.85v11.996s1.913 1.054 3.399 1.854c.146.079.292.15.451.15.583 0 .75-.533.75-.75zm-20 0c0-.206.163-.75.75-.75.159 0 .305.071.45.15 1.772.966 3.4 1.85 3.4 1.85v11.996s-1.913 1.054-3.399 1.854c-.146.079-.292.15-.451.15-.583 0-.75-.533-.75-.75zm14 2.25c0-.552-.448-1-1-1h-6c-.552 0-1 .448-1 1v10c0 .552.448 1 1 1h6c.552 0 1-.448 1-1z"
              fill-rule="nonzero" />
          </svg>
  
          <!-- text -->
          <p class="ml-2 ">Red-Velvet</p>
        </a>
        <!-- end -->
  
        <!-- Biscuit -->
        <a onclick="goToHome()"
          class="inline-flex items-center justify-center px-5 py-2 text-sm font-semibold uppercase transition-colors duration-300 rounded-full hover:bg-white hover:text-cake-me-dark text-cake-me-light hover:cursor-pointer">
          <!-- icon -->
          <svg class="w-6 h-6 fill-current" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
            stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m22 4.75c0-.206-.163-.75-.75-.75-.159 0-.305.071-.45.15-1.772.966-3.4 1.85-3.4 1.85v11.996s1.913 1.054 3.399 1.854c.146.079.292.15.451.15.583 0 .75-.533.75-.75zm-20 0c0-.206.163-.75.75-.75.159 0 .305.071.45.15 1.772.966 3.4 1.85 3.4 1.85v11.996s-1.913 1.054-3.399 1.854c-.146.079-.292.15-.451.15-.583 0-.75-.533-.75-.75zm14 2.25c0-.552-.448-1-1-1h-6c-.552 0-1 .448-1 1v10c0 .552.448 1 1 1h6c.552 0 1-.448 1-1z"
              fill-rule="nonzero" />
          </svg>
  
          <!-- text -->
          <h2 class="ml-2 ">Biscuit</h2>
        </a>
        <!-- end -->
  
  
      </div>
    </div>
  
  
    <!-- items grid -->
    <div
      class="grid flex-row px-4 lg:px-0 lg:grid lg:flex-col lg:grid-cols-4 lg:gap-x-6 lg:gap-y-12 md:grid md:flex-col md:grid-cols-2 gap-x-6 gap-y-6">
      <!-- shoop ittem -->
      <article
        class="transition-all duration-300 rounded-lg bg-cake-me-dark text-cake-me-light hover:text-cake-me-dark hover:bg-cake-me-light hover:cursor-pointer">
        <div class="flex flex-col">
          <div class="relative flex-shrink-0 block group">
            <div class="overflow-hidden rounded shadow group-hover:shadow-lg">
              <a class="block" href="details.html">
                <img
                  src="https://images.unsplash.com/photo-1627834377411-8da5f4f09de8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FrZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60"
                  alt="Hot Milk Cake" class="object-cover w-full h-48 transition-all group-hover:scale-105" />
              </a>
  
              <div role="button"
                class="absolute top-0 right-0 flex items-center justify-center w-12 h-12 transition-all duration-300 rounded-tr rounded-bl bg-cake-me-dark text-cake-me-light hover:text-cake-me-dark hover:bg-cake-me-light "
                title="Add to Cart">
                <!-- {
                          if (user.data) {
                          if (inCart) {
                          removeFromCart(product);
                          } else {
                          addToCart(product);
                          }
                          } else {
                          navigate('/signin');
                          }
                          }}
                          
                        
                          {inCart ? (
                          <XIcon class="w-6 h-6 text-red-400" />
                          ) : (
                          <ShoppingCartIcon class="w-6 h-6 text-green-400" />
                          )} -->
  
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current" width="24" height="24"
                  viewBox="0 0 24 24">
                  <path
                    d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm9.804-16.5l-3.431 12h-2.102l2.542-9h-5.993c.113.482.18.983.18 1.5 0 3.59-2.91 6.5-6.5 6.5-.407 0-.805-.042-1.191-.114l1.306 3.114h13.239l3.474-12h1.929l.743-2h-4.196zm-6.304 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm-4.5-10.5c0 2.485-2.018 4.5-4.5 4.5-2.484 0-4.5-2.015-4.5-4.5s2.016-4.5 4.5-4.5c2.482 0 4.5 2.015 4.5 4.5zm-2-.5h-2v-2h-1v2h-2v1h2v2h1v-2h2v-1z" />
                </svg>
  
  
              </div>
            </div>
          </div>
  
          <!-- texts -->
          <div class="flex flex-col m-6 text-center">
            <div class="pb-4 border-b-2 border-current">
              <h2 class="flex-grow text-2xl truncate">
                <a class="font-bold tracking-wide text-current">
                  Hot Milk
                </a>
              </h2>
  
              <h3 class="flex-grow mt-2 text-xl font-medium text-current">UGX 30,000</h3>
            </div>
            <p class="flex-grow mt-4 text-sm text-current">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque nec ullamcorper justo. Vivamus ac quam a arcu luctus lacinia.
            </p>
          </div>
        </div>
      </article>
      <!-- end of item -->
    </div>
  
  
  </main>

{% endblock %}